<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1><p th:text="${userInfo.getUsername()} + ', welcome spring boot security page!'"/></h1>
Here you can read about your info.
<p th:text="'Your id: ' + ${userInfo.getId()}">ID</p>
<p th:text="'Your age: ' + ${userInfo.getAge()}">Age</p>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <input type="button" value="Info for Admin"
           onclick="window.location.href='/admin/'">
    Only for ADMINS
</div>
<br>
<input type="button" value="Log out"
    onclick="window.location.href='/logout'">

</body>
</html>